# 前準備
駅データから各種データをダウンロードしておく。
https://ekidata.jp/dl/

- 事業者データ
- 路線データ
- 駅データ
- 接続駅データ

各データの仕様はこちら。
https://ekidata.jp/doc/

In [2]:
import pandas as pd

In [3]:
df_line = pd.read_csv('./ekidata/line20230320free.csv')

In [4]:
df_line.head()

,line_cd,company_cd,line_name,line_name_k,line_name_h,line_color_c,line_color_t,line_type,lon,lat,zoom,e_status,e_sort
0,1001,3,中央新幹線,チュウオウシンカンセン,中央新幹線,NaN,NaN,NaN,137.493896,35.411438,8,1,1001
1,1002,3,東海道新幹線,トウカイドウシンカンセン,東海道新幹線,NaN,NaN,NaN,137.721489,35.144122,7,0,1002
2,1003,4,山陽新幹線,サンヨウシンカンセン,山陽新幹線,NaN,NaN,NaN,133.147896,34.419338,7,0,1003
3,1004,2,東北新幹線,トウホクシンカンセン,東北新幹線,NaN,NaN,NaN,140.763192,38.274267,7,0,1004
4,1005,2,上越新幹線,ジョウエツシンカンセン,上越新幹線,NaN,NaN,NaN,139.121488,36.798565,8,0,1005

In [6]:
df_line.shape

(620, 13)

カラム数は 13、行数は 620。

In [7]:
df_line.columns

Index(['line_cd', 'company_cd', 'line_name', 'line_name_k', 'line_name_h',
       'line_color_c', 'line_color_t', 'line_type', 'lon', 'lat', 'zoom',
       'e_status', 'e_sort'],
      dtype='object')

In [15]:
df_line.isna().sum().reset_index()

           index    0
0        line_cd    0
1     company_cd    0
2      line_name    0
3    line_name_k    0
4    line_name_h    0
5   line_color_c  572
6   line_color_t  572
7      line_type  620
8            lon    0
9            lat    0
10          zoom    0
11      e_status    0
12        e_sort    0

`line_color_c` `line_color_t` `line_type` は有料会員のみのデータになるらしく、今回使用する無料版データでは欠損している。